<mat-card>
  <mat-card-content>
    <form [formGroup]="form">
    <mat-slider
    formControlName="slider"
    [disabled]="disableControl"
    min="0"
    max="100"
    step="10"
    horizontal
    invert="false"
    thumbLabel
    tickInterval="1"
    aria-label="slider"
    (change)="change($event)">
    </mat-slider>
    </form>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="disable()" mat-raised-button>
        {{disableControl ? 'Enable' : 'Disable'}}
      </button>
    </mat-card-actions>
</mat-card>